*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family:Inter-VariableFont_slnt\,wght ;
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}
body{
    background-color:hsl(0, 0%, 8%) ;    
    font-family:Inter-VariableFont_slnt\,wght ;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    margin-top: 12px; 
    
}
.body{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 250px;
    height: 440px;
    background-color:  hsl(0, 0%, 12%);
    border-radius: 7px;
    text-align: center;
}
.one{
    color: white;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.two{
    color: hsl(75, 94%, 57%);
    font-size: 9px;
    padding-bottom: 15px;

}
.three{     
    font-size: 5px;
    color: white;
    padding-bottom: 5px;
}
.four{
    height: 25px;       
    margin: 10px;  
    padding-top: 10px;   
    font-size: 12px; 
    color: white;
    background-color: hsl(0, 0%, 20%);     
    border-radius: 15px;
         
}
.four:hover{
    background-color:hsl(75, 94%, 57%) ;
    color: black;
    cursor: pointer;
}
.attribution{
    
    color: rgba(245, 245, 245, 0.167);
    font-size: 9px;
}
 